body {
  margin: 0;
  padding: 0;
}

/*Estructura inicial*/
.basePrincipal {
  
  height: 650px;
  display: grid;
  grid-template-rows: 10% auto ;
}

.navBar {
  background-color: ;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: ;
}


/*Contenedor tic tac*/

.contenedorTicTac {
  height: 80%;
  width: 40%;
  display: grid;
}

.fila1 {
  display: grid;
  grid-template-columns: auto auto auto;
  
}
.fila2 {
  display: grid;
  grid-template-columns: auto auto auto;
 
  border-top: solid black 5px;
  border-bottom: solid black 5px;
}
.fila3 {
  display: grid;
  grid-template-columns: auto auto auto;
  
}

/*Cajas y sus posiciones*/
.P0_0 {
  
  height: 150px;
  width: 160px;
  
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.P0_1 {
  height: 150px;
  width: 160px;
  
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.P0_2 {
  height: 150px;
  width: 160px;
  
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.P1_0 {
  height: 150px;
  width: 160px;
 
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}



.P1_1 {
  height: 150px;
  width: 160px;
  
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}


.P1_2 {
  height: 150px;
  width: 160px;
 
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.P2_0 {
  height: 150px;
  width: 160px;
  
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.P2_1 {
  height: 150px;
  width: 160px;
  
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.P2_2 {
  height: 150px;
  width: 160px;
  
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*fila 0*/
.caja0_0 {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
}

.caja0_1 {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
  border-right: solid black 5px;
  border-left: solid black 5px;
  
}

.caja0_2 {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
}
/*fila 1*/
.caja1_0 {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
}
.caja1_1 {
  border-right: solid black 5px;
  border-left: solid black 5px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
}
.caja1_2 {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
}

/*fila 2*/
.caja2_0 {
 margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
}
.caja2_1 {
  border-right: solid black 5px;
  border-left: solid black 5px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
}
.caja2_2 {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
}

/*navBar*/
.navBar{
display: grid;
grid-template-columns: auto 60% auto 
}

.info{
display: flex;
align-items: center;
justify-content: center;
border-right: solid black 5px;
border-left:solid black 5px;
font-size: 70px;
}
.infoP{
position: absolute;
}

/*3 en raya ganes*/
.fila1Gane{

position: absolute;
visibility: hidden;

}
.fila2Gane{

position: absolute;
visibility: hidden;

}
.fila3Gane{

position: absolute;
visibility: hidden;

}

.fila1GaneDiagonal{
position: absolute;
transform: rotate(135deg);
visibility: hidden;
}

.fila1GaneDiagonal2{
position: absolute;
transform: rotate(45deg);
visibility: hidden;
}
.columna1gane{
position: absolute;
visibility: hidden;
transform: rotate(90deg);
}
.columna2gane{
position: absolute;
visibility: hidden;
transform: rotate(90deg);
}

.columna3gane{
position: absolute;
visibility: hidden;
transform: rotate(90deg);
}